.classrooms {
  padding: 1rem;

  .classrooms__search {
    display: flex;
    align-items: center;
    justify-content: center;

    .clear-icon {
      position: relative;
      left: -50px;
      color: rgb(227, 23, 23);
    }

    button {
      background-color: var(--black-color);
      border: 1px solid var(--black-color);
      color: var(--white-color);
      border: none;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      padding: calc(0.25rem);
      font-size: 1rem;

      &:hover {
        background-color: var(--black-hover);
        cursor: pointer;
      }
    }

    input {
      padding: 0.25rem;
      font-size: 1rem;
      min-width: 200px;
      background-color: var(--white-color);
      border: 1px solid var(--grey-color);
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;

      &:focus {
        outline: none;
      }

      &.error {
        border: 1px solid red;
      }
    }
  }

  .classrooms__error-message {
    color: red;
    font-size: 0.75rem;
  }
}

.classrooms-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // justify-items: spac;
}

@media screen and (max-width: 1000px) {
  .classrooms-container {
    grid-template-columns: 1fr;
  }
}
