.classrooms {
  padding: 2rem;;

  .classrooms__search {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      padding: 0.5rem;
      font-size: 1.25rem;
      min-width: 400px;
      background-color: var(--white-color);
      border: none;
      border-bottom: 1px solid var(--grey-color);

      &:focus {
        outline: none;
      }

      &.error {
        border-bottom: 1px solid red;
        color: red;
      }
    }
  }

  button {
    background-color: var(--accent-color);
    color: var(--white-color);
    justify-content: center;
    border: none;
    padding: calc(0.5rem);
    font-size: 1rem;
    border-radius: 3px;
    display: flex;

    &.classrooms__reset-button{
      margin-left: auto;
    }

    &:hover {
      background-color: var(--accent-hover);
      cursor: pointer;
    }
  }


  .classrooms__error-message {
    color: red;
    font-size: 0.75rem;
  }
}

.classrooms-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin-block: 1.5rem;
}

@media screen and (max-width: 800px) {
  .classrooms-container {
    grid-template-columns: 1fr;
  }

  .classrooms__search input{
    min-width: 200px !important;
  }
}
